{% extends 'base.html' %}

{% block content %}

    <h1>Lista de destinos</h1>
    <h3><a href="/travello/añadir_destinos">Añadir Destinos</a></h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Description</th>
                <th>Precio</th>
                <th>Oferta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dest in dests %}
            <tr>
                <td>{{ dest.nombreCiudad }}</td>
                <td>{{ dest.descripcionCiudad }}</td>
                <td>S/. {{ dest.precioTour }}</td>
                {% if dest.ofertaTour %}
                    <td>Si</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>
                    <a href="/travello/editar_destinos/{{ dest.id }}">Editar</a>
                    <a href="/travello/eliminar_destinos/{{ dest.id }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

